*{
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  position: relative;
}

#fist-header {

  background-color: #da0000;
  width: 100%;
  height: 56px;
  text-align: center;
}
#fist-header img{

    width: 1312px;
}
.col{
 width: 33%;

}
.col2{
  display: flex;
  width:50% ;
}
.row{
  text-align: center;
}
#header{
  
  height: 102px;
 display: flex;
 border: 0.1px solid dimgrey;
 text-align: center;

}
#header .logo img{
 width: 110px;
 height: 78px;

 }
 #header .search {
display: flex;

  padding-top: 15px;

  }
 #header .search input{
  width: 480px;
  height: 44px;
  border: 1px solid #fF0000;

  }
  #header .search .bnt{
   
    width: 48px;
    height: 44px;
    border: 1px solid #fF0000;
    background-color: #fF0000;
   
    text-align: center;
    } 
  .search .bnt .ti-search{
    line-height: 44px;
    padding-top: 100px;

  
  }
#header .main{
  text-align: center;
  justify-content: center;
  padding-top: 25px;
}

#header .main a{
  padding: 10px;
  font-size: 19px;
  color: #000;
  text-decoration: none;
  text-align: center;
}

#nav{

  height: 66px;
  display: flex;
font-size: 18px;
border-bottom: 1px solid #000;
}
 #nav .menu{
  line-height: 60px;
  text-align: center;
  width: 30%;
 }
 #nav .nav-menu{
text-align: center;


  width: 1500px;
 }
 #nav .nav-menu a{
  line-height: 60px;
  padding: 20 px;
  text-decoration: none;
  padding: 15px;
  color: #000;
 }
 #slide{
  display: flex;
  overflow: hidden;
 }
 #slide .item{
  transform: translate(50%);
  padding: 10px 0px;
 }
 #slide .item img{
  width: 750px;
  height: 373px;
  border-radius: .75rem;
 }
#slide .item h1{
  font-size: 20px;
}
#slide .item p{
  font-size: 14px;
  opacity: 0.4;
}
#slide-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide-nav .nav{
  text-align: center;
  align-items: center;
  display: flex;

}
.nav .info{
  font-size: 16px;
}
 
.bd{
  width: 40px;
  height: 38px;
  background-color: #f3f4f6;
 margin: 10px;
}
.nav i{

  line-height: 40px;
}
#nav a:hover{
color: aqua;
}
#main1  .list-item{
 display: flex;
 justify-content: center; /* Căn giữa theo chiều ngang */
}
#main1 .item {
  width: 304px;
  height: 458px;
  padding-left: 10px;
  position: relative;
  padding-right: 10px;
}
#main1 .item img{

  width: 304px;
  height: 304px;
}
#main1 .item .img2{
  position: absolute;
  top: 245px;
  right:  3%;
  z-index: 100;
  width: 304px;
  height: 68px;
}
#main1 .item .content{
font-size: 16px;
margin-top: 10px;
}
#main1 .item .new{
  margin-top: 10px;
  font-size: 26px;
  color: #fF0000;
  }
#main1 .item .old{
  margin-top: 10px;
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.6;
}
#main1 .item .sale{
  margin-top: 10px;
  font-size: 16px;
  background-color: #fF0000;  
  border-radius: 4px;
  margin-left: 10Px; 
}
.row-item{
  display: flex;
}
#main1 .item .slot{
position: relative;
  font-size: 14px; 
  background-color: #eeeeee;  
  border-radius: 4px; 
  height: 26px;
  border-radius: 10px;
}
#main1 .item .slot p{
text-align: center;
border-radius: 20px;
margin-top: 10px;
line-height: 25px;

 width: 100%px;
 height: 26Px;
  font-size: 14px;
  background-color: rgba(254, 228, 165, 1);  
}
#main2{


  left: 7%;
margin-top: 72Px;
  width: 1312px;
  height: 573px;
  background-image: url(./assets/img/bg_main2.png);
}
#main2 .all{

float: right;
width: 101px;
height: 36px;
line-height: 35px;
text-align: center;
background-color: white;
margin-top: 23px;
margin-right: 21px;
}
#main2 .list-item{
  display: flex;

}
#main2 .item {
  margin-top: 80Px;
  width: 304px;
  height: 471px;
  border-radius: 16px;
  margin-left: 10px;
  position: relative;
  margin-right: 10px;
   background-color: white;
}
#main2 .item img{
  display: block;
  width: 304px;
  height: auto;
  margin: 0 auto
}
#main2 .item .img2{
  position: absolute;
  top: 245px;
  right:  3%;
  z-index: 100;
  width: 304px;
  height: 68px;
}
#main2 .item .content{
font-size: 16px;
margin-top: 10px;
}
#main2 .item .new{
  margin-top: 10px;
  font-size: 26px;
  color: #fF0000;
  }
#main2 .item .old{
  margin-top: 10px;
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.6;
}
#main2 .item .sale{
  margin-top: 10px;
  font-size: 16px;
  background-color: #fF0000;  
  border-radius: 4px;
  margin-left: 10Px; 
}
.row-item{
  display: flex;
}
#main2 .item .slot{
position: relative;
  font-size: 14px; 
  background-color: #eeeeee;  
  border-radius: 4px; 
  height: 26px;
  border-radius: 10px;
}
#main2 .item .slot p{
text-align: center;
border-radius: 20px;
margin-top: 10px;
line-height: 25px;

 width: 100%px;
 height: 26Px;
  font-size: 14px;
  background-color: rgba(254, 228, 165, 1);  
}



#main3{


  left: 7%;
margin-top: 72Px;
  width: 1312px;
  height: 573px;
  background-image: url(/assets/img/bg_main3.png);
}
#main3 .all{

float: right;
width: 101px;
height: 36px;
line-height: 35px;
text-align: center;
background-color: white;
margin-top: 23px;
margin-right: 21px;
}
#main3 .list-item{
  display: flex;

}
#main3 .item {
  margin-top: 80Px;
  width: 304px;
  height: 471px;
  border-radius: 16px;
  margin-left: 10px;
  position: relative;
  margin-right: 10px;
   background-color: white;
}
#main3 .item img{
  display: block;
  width: 304px;
  height: auto;
  margin: 0 auto
}
#main3 .item .img2{
  position: absolute;
  top: 245px;
  right:  3%;
  z-index: 100;
  width: 304px;
  height: 68px;
}
#main3 .item .content{
font-size: 16px;
margin-top: 10px;
}
#main3 .item .new{
  margin-top: 10px;
  font-size: 26px;
  color: #fF0000;
  }
#main3 .item .old{
  margin-top: 10px;
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.6;
}
#main3 .item .sale{
  margin-top: 10px;
  font-size: 16px;
  background-color: #fF0000;  
  border-radius: 4px;
  margin-left: 10Px; 
}
.row-item{
  display: flex;
}
#main3 .item .slot{
position: relative;
  font-size: 14px; 
  background-color: #eeeeee;  
  border-radius: 4px; 
  height: 26px;
  border-radius: 10px;
}
#main3 .item .slot p{
text-align: center;
border-radius: 20px;
margin-top: 10px;
line-height: 25px;

 width: 100%px;
 height: 26Px;
  font-size: 14px;
  background-color: rgba(254, 228, 165, 1);  
}
#main4{
  left: 7%;
margin-top: 72Px;
  width: 1312px;
  height: 573px;
  background-image: url(/assets/img/bg_main4.png);
}
#main4 .all{

float: right;
width: 101px;
height: 36px;
line-height: 35px;
text-align: center;
background-color: white;
margin-top: 23px;
margin-right: 21px;
}
#main4 .list-item{
  display: flex;

}
#main4 .item {
  margin-top: 80Px;
  width: 304px;
  height: 471px;
  border-radius: 16px;
  margin-left: 10px;
  position: relative;
  margin-right: 10px;
   background-color: white;
}
#main4 .item img{
  display: block;
  width: 304px;
  height: auto;
  margin: 0 auto
}
#main4 .item .img2{
  position: absolute;
  top: 245px;
  right:  3%;
  z-index: 100;
  width: 304px;
  height: 68px;
}
#main4 .item .content{
font-size: 16px;
margin-top: 10px;
}
#main4 .item .new{
  margin-top: 10px;
  font-size: 26px;
  color: #fF0000;
  }
#main4 .item .old{
  margin-top: 10px;
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.6;
}
#main4 .item .sale{
  margin-top: 10px;
  font-size: 16px;
  background-color: #fF0000;  
  border-radius: 4px;
  margin-left: 10Px; 
}
.row-item{
  display: flex;
}
#main4 .item .slot{
position: relative;
  font-size: 14px; 
  background-color: #eeeeee;  
  border-radius: 4px; 
  height: 26px;
  border-radius: 10px;
}
#main4 .item .slot p{
text-align: center;
border-radius: 20px;
margin-top: 10px;
line-height: 25px;

 width: 100%px;
 height: 26Px;
  font-size: 14px;
  background-color: rgba(254, 228, 165, 1);  
}
#main5{
  left: 7%;
margin-top: 72Px;
  width: 1312px;
  height: 573px;
  background-image: url(/assets/img/bg_main5.png);
}
#main5 .all{

float: right;
width: 101px;
height: 36px;
line-height: 35px;
text-align: center;
background-color: white;
margin-top: 23px;
margin-right: 21px;
}
#main5 .list-item{
  display: flex;

}
#main5 .item {
  margin-top: 80Px;
  width: 304px;
  height: 471px;
  border-radius: 16px;
  margin-left: 10px;
  position: relative;
  margin-right: 10px;
   background-color: white;
}
#main5 .item img{
  display: block;
  width: 304px;
  height: auto;
  margin: 0 auto
}
#main5 .item .img2{
  position: absolute;
  top: 245px;
  right:  3%;
  z-index: 100;
  width: 304px;
  height: 68px;
}
#main5 .item .content{
font-size: 16px;
margin-top: 10px;
}
#main5 .item .new{
  margin-top: 10px;
  font-size: 26px;
  color: #fF0000;
  }
#main5 .item .old{
  margin-top: 10px;
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.6;
}
#main5 .item .sale{
  margin-top: 10px;
  font-size: 16px;
  background-color: #fF0000;  
  border-radius: 4px;
  margin-left: 10Px; 
}
.row-item{
  display: flex;
}
#main5 .item .slot{
position: relative;
  font-size: 14px; 
  background-color: #eeeeee;  
  border-radius: 4px; 
  height: 26px;
  border-radius: 10px;
}
#main5 .item .slot p{
text-align: center;
border-radius: 20px;
margin-top: 10px;
line-height: 25px;

 width: 100%px;
 height: 26Px;
  font-size: 14px;
  background-color: rgba(254, 228, 165, 1);  
}
#main6{
  left: 7%;
margin-top: 72Px;
  width: 1312px;
  height: 573px;
  background-image: url(/assets/img/bg_main6.png);
}
#main6 .all{

float: right;
width: 101px;
height: 36px;
line-height: 35px;
text-align: center;
background-color: white;
margin-top: 23px;
margin-right: 21px;
}
#main6 .list-item{
  display: flex;

}
#main6 .item {
  margin-top: 80Px;
  width: 304px;
  height: 471px;
  border-radius: 16px;
  margin-left: 10px;
  position: relative;
  margin-right: 10px;
   background-color: white;
}
#main6 .item img{
  display: block;
  width: 304px;
  height: auto;
  margin: 0 auto
}
#main6 .item .img2{
  position: absolute;
  top: 245px;
  right:  3%;
  z-index: 100;
  width: 304px;
  height: 68px;
}
#main6 .item .content{
font-size: 16px;
margin-top: 10px;
}
#main6 .item .new{
  margin-top: 10px;
  font-size: 26px;
  color: #fF0000;
  }
#main6 .item .old{
  margin-top: 10px;
  font-size: 16px;
  text-decoration: line-through;
  opacity: 0.6;
}
#main6 .item .sale{
  margin-top: 10px;
  font-size: 16px;
  background-color: #fF0000;  
  border-radius: 4px;
  margin-left: 10Px; 
}
.row-item{
  display: flex;
}
#main6 .item .slot{
position: relative;
  font-size: 14px; 
  background-color: #eeeeee;  
  border-radius: 4px; 
  height: 26px;
  border-radius: 10px;
}
#main6 .item .slot p{
text-align: center;
border-radius: 20px;
margin-top: 10px;
line-height: 25px;

 width: 100%px;
 height: 26Px;
  font-size: 14px;
  background-color: rgba(254, 228, 165, 1);  
}
#mess{
  position: fixed;
  background-color: white;
  height: 622px;
  width: 317px;
  z-index: 1000;
  border-radius: 20px;
  top: 10%;
  right: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
}
#mess .logo{
  display: flex;
}
#mess .logo #thei{
  margin-top: 14px;
text-align: center;
margin-right: 10px;
}
#mess .fist-mess{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  height: 85px;
  color: white;
  background-color: #f53d57;
}
#mess .fist-mess #thei{
  margin-top: 14px;
  text-align: center;
  margin-right: 10px;
}
#mess .fist-mess i{
  
  margin-left: 20px;
line-height: 40px;
  color: white;
}

#mess img{
  margin-top: 15px;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 20px;
}
#mess .info {
 margin-left: 10px; 
}
#mess .info h1{
 font-size: 16px;
margin-top: 10px; 
}
#mess .info p{
  margin-top: 2px;
  font-size: 15px;

 }
 #mess .info .time{
  color: gray;
  text-align: center;
  margin-top: 15px;
 }
 #mess .textchat img{
  margin-left: 6px;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 20px;
}
 .textchat .name {
  display: flex;

 }
 .textchat .name p{
 padding-top: 16px;
 color: gray;
  margin-left: 10px;
  text-align: center;
  font-size: 14px;
 }
 .textchat .text {
 margin-top: 10px;
  margin-left: 10px;
    width: 245px;
    height: 95px;
    background-color: #f53d57;
    border-radius: 10px;
    }
 .textchat .text p{
  
  padding: 10px;
color: white;
  }
  #messac{
   
    position: fixed;
  background-color: white;
  height: 100px;
  width: 100px;
  z-index: 1000;
  border-radius: 20px;
  bottom: 10%;
  right: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  }